* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper1 {
  font-family: "Gravitas One", serif;
  font-weight: 300;
  background: url("/assets/img/bg1.webp") no-repeat center top;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 20px;
}
.wrapper2 {
  font-family: "Gravitas One", serif;
  font-weight: 300;
  background: url("/assets/img/7+\ Floral\ White\ And\ Gold\ Birthda.webp") no-repeat center top;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

.invitation {
  padding: 30px 20px;
  border-radius: 16px;
  animation: fadeInUp 1.5s ease-out;
  max-width: 500px;
  width: 100%;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 2.8rem;
  color: #bebc4e;
  margin-bottom: 50px;
  background-color: white;
  padding: 5px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: rgba(126, 123, 123, 0.29);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 253, 253, 0.1);
}

h2 {
  font-size: 1.4rem;
  color: wheat;
  margin-bottom: 30px;
  font-family: "Gravitas One", serif;
  font-weight: 300;
}
h3 {
  font-size: 3.6rem;
  font-family: "Great Vibes", cursive;
  color: #bebc4e;
  margin-bottom: 20px;
}
h4 {
  font-size: 1.4rem;
  color: wheat;
  background-color: white;
  padding: 8px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: rgba(126, 123, 123, 0.29);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 253, 253, 0.1);
  font-family: "Gravitas One", serif;
  font-weight: 300;
}

.names {
  font-size: 2.5rem;
  font-weight: bold;
   color: #bebc4e;
  margin: 10px 0;
  font-family: "Cardo", serif;
  /* transform: scale(1,1.1) translate(-50%,10%); */
}

.and {
  font-size: 1.7rem;
  color: wheat;
  font-family: "Cardo", serif;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
  .names {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.2rem;
  }
}
.box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgba(158, 154, 154, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.box .bird {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.party {
  display: flex;
  align-items: center;
}
.party .right p {
  font-size: 2.05rem;
  color: wheat;
  font-family: "Great Vibes", cursive;
}
.party .right {
  padding-left: 20px;
}
.text span {
  font-size: 3.05rem;
   color: #bebc4e;
  line-height: 1.6;
  font-family: "Great Vibes", cursive;
}
.text {
  font-family: "Cardo", serif;
  font-size: 1.4rem;
  color: wheat;
  background: rgba(50, 48, 48, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}
